<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <script src="node_modules/socket.io-client/dist/socket.io.js"></script>
<script>
  var socket = io();
  socket.emit('person join',"<%=user%>");
</script>

</head>


<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    min-height: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
}

#logo{
  width: 25%;
  height: auto;
}

#button {
  margin-top: 10px;
}

#button_log_out {
  margin-right: 30px;
  margin-bottom: 30px;
}

</style>
<body>

<div class="w3-display-topleft">
  <img id="logo" src="http://www.pngmart.com/files/3/Raven-Flying-PNG-Pic.png" alt="">
</div>

<div class="bgimg w3-display-container w3-text-black">
  <div class="w3-display-topmiddle ">
    <h1>Hello, <%=user%></h1>
  </div>

  <div class="w3-display-middle">
    <h1 id="ready_text" class="w3-jumbo w3-animate-zoom">Ready to start?</h1>
    <hr id="border" class="w3-border-grey" style="margin:auto;width:40%;bottom:50px">
    <button id="button" class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge" type="button">Press to play!</button>
    <button id="check_opponent" class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge" type="button">Check your opponent!</button>
    <p id="page_console">Looking for opponent</p>
    <form class="word_input w3-container" action="#" method="post">
      Your word: <input type="text" name="fname"><br>
      <input class="w3-input" type="submit" value="Submit">
    </form>
  </div>

  <div class="w3-display-bottomright">
    <button id="button_log_out" class="w3-btn w3-white w3-border w3-border-red w3-round-xlarge w3-hover-red"
    type="button" name="start_button" onclick="location.href='/logout';" >Log out</button>
  </div>

</div>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
$(function () {
   var rival;
   $('#page_console').hide();
   $('.word_input').hide();

   $('#button').click(function(){
     $('#ready_text').hide();
     $('#border').hide();
     $('#button').hide();
     $('#page_console').show();
     $('.word_input').show();

     socket.emit('button click');
     socket.emit('')
     return false;
   });

   $('#check_opponent').click(function(){
      socket.emit('ping_opponent', socket.id);
   });

   socket.on('pinged', function(){
     alert("Pinged by opponent");
     console.log("Pinged by opponent");
   })

   socket.on('found rival', function(socket){
      rival = socket;
    });

 });
</script>
</body>
</html>
