<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <script src="node_modules/socket.io-client/dist/socket.io.js"></script>
<script>
  var socket = io();
  socket.emit('person join',"<%=user%>");
</script>

</head>


<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    min-height: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
}

#logo{
  width: 25%;
  height: auto;
}

#button {
  margin-top: 10px;
}

#button_log_out {
  margin-right: 30px;
  margin-bottom: 30px;
}

#page_console{
  white-space: pre-wrap;
}

</style>
<body>

<div class="w3-display-topleft">
  <img id="logo" src="http://www.pngmart.com/files/3/Raven-Flying-PNG-Pic.png" alt="">
</div>

<div class="bgimg w3-display-container w3-text-black">
  <div class="w3-display-topmiddle ">
    <h1>Hello, <%=user%></h1>
    <h2 id="currentPoints">Current Points : 0</h2>
  </div>

  <div class="w3-display-middle">
    <h1 id="ready_text" class="w3-jumbo w3-animate-zoom">Ready to start?</h1>
    <hr id="border" class="w3-border-grey" style="margin:auto;width:40%;bottom:50px">
    <button id="button" class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge" type="button">Press to play!</button>
    <p id="page_console">Looking for opponent</p>
    <form class = "word_input" action="javascript:void(0);">
      Your word: <input id="input" type="text">
    </form>
  </div>

  <div class="w3-display-bottomright">
    <button id="button_log_out" class="w3-btn w3-white w3-border w3-border-red w3-round-xlarge w3-hover-red"
    type="button" name="start_button" onclick="location.href='/logout';" >Log out</button>
  </div>

</div>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
$(function () {
   var rival;
   var first_letter;
   var points = 0;
   $('#page_console').hide();
   $('.word_input').hide();

   $('#button').click(function(){
     $('#ready_text').hide();
     $('#border').hide();
     $('#button').hide();
     $('#page_console').show();
     $('.word_input').show();

     socket.emit('button click');
     socket.emit('')
     return false;
   });

   /*function checkWord(word){
     console.log("enter checkWord");
     var dictURL = "https://od-api.oxforddictionaries.com:443/api/v1/search/en?q=" + word.toLowerCase() + "&prefix=false";
     $.ajax({
        header('Access-Control-Allow-Origin: https://od-api.oxforddictionaries.com');
        //if you need cookies or login etc
        header('Access-Control-Allow-Credentials: true');
        if ($this->getRequestMethod() == 'OPTIONS')
        {
          header('Access-Control-Allow-Methods: GET, POST, PUT, DELETE, OPTIONS');
          header('Access-Control-Max-Age: 604800');
          //if you need special headers
          header('Access-Control-Allow-Headers: x-requested-with');
          exit(0);
        }
        url: dictURL,
        crossDomain: true,
        xhrFields: {
        withCredentials: true
        },
        beforeSend: function(xhr){
          xhr.setRequestHeader("Accept", "application/json");
          xhr.setRequestHeader("app_id", "c9ce7781");
          xhr.setRequestHeader("app_key", "e9c60eee8bdd3161f19b1a603bd7797e");
        },
        type: "GET"
        }).done(function(data) {
          console.log(data);
          alert(data);
        })
   }*/
   function turn(first_letter){
     setTimeout(function(){$('#page_console').text('your first letter: ' + first_letter + "\n")}, 4500);
     $('#input').select();
     setTimeout(function(){
       var input = $('#input').val();
       $("#page_console").text("Time's up!\nChecking Letter...");
       $("input").val("");
       //socket.emit('get result', {id: socket.id, word: input,letter: first_letter, points: points});

         socket.emit('get result', {id:socket.id, word:input, points:points, letter:first_letter});

     }, 11500);
   }

   socket.on('first', function(letter){
     $('#page_console').text('found opponent. you are first');
     socket.emit('ping opponent', {id: socket.id, message:'you are second'});
     setTimeout(function(){
       $('#page_console').text("Generating first letter...\n You will have seven seconds to write a word \n that begins with that letter");
       turn(letter);
     }, 4500);

   })

   socket.on('turn', function(letter){
     //alert("it's my turn");
     $('#page_console').text("Now it's your turn!\nGet set!");
     turn(letter);
   })

   socket.on('correct word', function(result){
     console.log("correct word");
     console.log(result.word);
     var lastLetter = result.word.charAt(result.word.length - 1);
      $("#page_console").text("Correct!\n You get " + result.pointsGiven + " points!!!");
      $("#currentPoints").text("Current Points : " + result.pointsGiven);
      points += result.pointsGiven;
      socket.emit('ping opponent',{id:socket.id, message:'turn', letter: lastLetter});
      setTimeout(function(){$('#page_console').text("Opponent's Turn")}, 4000);

   })

   socket.on('you are second', function(){
     $('#page_console').text('found opponent. you are second. waiting for opponent');
     console.log("second");
   })


 });
</script>
</body>
</html>
